@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Leroy Card Game </h2>
<div>
   <form name="Shuffle">
       <p><a class="btn btn-default" id ="btnShuffle"> Shuffle Deck &raquo;</a></p>          
   </form> 
</div>

